<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_xclick-subscriptions">
    <input type="hidden" name="business" value="ohlasy@ohlasy.info">
    <input type="hidden" name="src" value="1">
    <input type="hidden" name="p3" value="1">
    <input type="hidden" name="t3" value="M">
    <input type="hidden" name="currency_code" value="CZK">
    <input type="hidden" name="item_name" value="predplatne Ohlasu">
    <fieldset>
        <select name="a3">
            <option value="50">50 Kč měsíčně</option>
            <option value="100">100 Kč měsíčně</option>
            <option value="200">200 Kč měsíčně</option>
        </select>
    </fieldset>
    <button class="btn btn-primary" name="submit" type="submit">Zaplatit online</button>
</form>
