<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ohlasy | Předplatné</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="http://ohlasy.info/style/shared.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="http://predplatne.ohlasy.info/img/favicon.png">
    <script src="lib/analytics.js"></script>
    <meta property="og:title" content="Ohlasy: Předplatné">
    <meta property="og:site_name" content="Ohlasy">
    <meta property="og:description" content="Pokud se vám Ohlasy líbí a rádi byste je četli i v budoucnu, předplaťte si nás!">
    <meta property="og:image" content="http://i.imgur.com/T6wVyMj.jpg">
</head>
<body>
    <header class="navbar navbar-default">
    <div class="container">
        <h1><a href="http://ohlasy.info/">Ohlasy <small>předplatné</small></a></h1>
    </div>
    </header>

    <div class="container">
        {{ content }}
    </div>

    <footer class="text-muted">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-4">
                    <ul class="list-unstyled">
                        <li><em>Ohlasy, internetové noviny <span class="nobreak">pro Boskovice a okolí</span></em>
                        <li>vydává spolek šílenců, <span class="nobreak">protože kdo jiný by dneska dělal noviny</span>
                        <li><a href="mailto:ohlasy@ohlasy.info">ohlasy@ohlasy.info</a>, <a href="http://ohlasy.info/inzerce.html">inzerujte u nás!</a>
                        <li>+420 608 763 954
                        <li><a href="https://www.facebook.com/ohlasy">Facebook</a>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
